@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Qwigley&display=swap');

body{
    font-family: "Poppins", sans-serif;
    color: #2d1111;
}


h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    color: #0f0e0e;
}

a {
    
    text-decoration: none;
    transition: all 0.4s;
    font-weight: 600;
}


section{
    padding-top: 50px;
    padding-bottom: 50px;
}

.shadow-on-hover {
    transition: all 0.2s;
}

.shadow-on-hover:hover{
    box-shadow: 0 10px 40px;
}

/* Btn */
.btn {
    border-color: rgba(255, 172, 13, 1);
}

.btn-brand{
    color: rgba(255, 172, 13, 1);
    font-weight: 500;
}

.btn-brand:hover{
    border-color: rgba(187, 149, 11, 0.671);
    background-color: rgba(187, 149, 11, 0.648);
    color: white;
}

#about .row{
 padding-left: 15%;
}
.carousel-item{
    background: rgba(253, 190, 53, 1);
   }

   .container{
    display: flex;
   }
.container h3 { font-family: Qwigley;
    padding-top: 40px;
    font-family: Qwigley;
    font-size: 60px;
    font-weight: 400;
    line-height: 70px;
    text-align: left;
    color: white;
}

#features .row{
  padding-left: 20%;
}


.motto{
    margin-bottom: 40px;
    text-align: center;
}
.motto h1{

    margin-bottom: 0rem;
}
.motto p{

    margin: 26px auto 0 auto;
}


.intro-text h1{
    margin-bottom: 40px;
    text-align: center;
}

.title-box{
    box-shadow: 0px 5px 27px 11px rgba(255, 181, 21, 0.1);
    background: rgba(255, 255, 255, 1);
    margin: 16px auto 0 auto;
}
.title-box a {
    color: black;
}

#searchby{
    background: rgba(246, 245, 238, 1);
}

.searchby{
    /* text-align: center; */
   
   padding-left: 250px;

    margin-bottom: 40px;
}
.card-title{
    text-align: center;

}

.deals{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10rem;
}

/* FOOTER    */
footer{
    background-color: black;
}
footer a, footer a h6{
    color: white;
}



.card-order{
    width:190px;
}

.horizontal-line-top {
    border-bottom: 1px solid #ddd; /* Adjust color and thickness as needed */
    margin: 20px 0; /* Adjust margin as needed */
    padding-top:50px;
    width:90%;
    margin-left:54px;
    margin-bottom: 83px;
}

.horizontal-line-bottom{
    border-bottom: 1px solid #ddd; /* Adjust color and thickness as needed */
    margin: 20px 0; /* Adjust margin as needed */
    padding-top:27px;
    width:90%;
    margin-left:54px;
    margin-bottom: 100px;
}

.footer-top{
    height:433px;
}

.follow-us{
    margin-left:29px;
}

.social-links{
    margin-top:20px;
    margin-bottom:20px;
    font-size: 24px;
    margin-right: 10px;
}

.subscribe-button{
    color: white;
    background-color: orange;
    box-shadow: orange;
    border-radius: 10px;
    font-size: smaller;
    padding:7px;   
    border-color: orange;    
}

.subscribe-button:hover{
    box-shadow: 0 0 5px 0 orange; /* Box shadow for the glow effect */
    transition: box-shadow 0.3s ease-in-out; 
}

.footer-text{
    width:74%;
    align-items: center;
}

.footer-text a{
    color: rgba(245, 245, 245, 1)

}

.mail-text{
    background-color: gray;
    font-size:large;
}

.mail-text::placeholder{
    color: white;
    font-size:small;
    padding-left:5px;
}

.popular-box{
    box-sizing: content-box;
}

.footer-bottom{
    justify-content: space-between;
    padding-top: 10px;
    color: white;
}


@media only screen and (max-width: 600px) {
    body {
      width: 100vh;
      overflow-x: hidden;
    }
    .deals{
        display: none;
    }
  }

  @media only screen and (max-width: 800px) {
    body {
      width: 100vh;
      overflow-x: hidden;
    }
    .deals{
        display: none;
    }
  }
  